  <ion-view view-title="Bio" >
  <ion-content>

        <div id="crosbio">
          CROS1, by all rights is a legend and an icon when it comes to Hip Hop event production and promotions producing world famous events such as Freestyle Session, an event that has traveled the world and back as well as developing the first National B-boy Championships which has toured the USA on several different occasions. You can always count on CROS1 as an event promoter to wow you and bring the Legendary talent as well as many future stars in his always sold out local shows in San Diego and beyond, but his reputation on a set of turntables has definitely been something thats been shocking crowds worldwide.
          Collecting vinyl for over 18 years and fresh off the Black Eyed Peas, Ludacris, LMFAO National Tour he has been rocking his versatile sets in some of the largest arenas in the Nation as well as some of the best of the underground bars and clubs. Cros1 is a formidable and versatile DJ, from rocking beats for dancers and club goers to rocking out crowds that most would find hard to please. He's continually making his mark on the scene in a way that is hard to ignore, opening for acclaimed and established acts like Black Eyed Peas, LMFAO, Ludacris, Common, De la Soul, Talib Kweli and internationally recognized dj's such as Dj's Kool Herc(Father of Hip Hop), Pete Rock, The World Famous Beat Junkies, Neil Armstrong (Jay Z's DJ), David Guetta and others. Cros1 is also the owner of the Armory, a retail shop and brand out of downtown San Diego as well as a conglomorative of Artists worldwide.
                <a class="item" href="#" onclick="window.open('http://crosone.tumblr.com/', '_system', 'location=yes'); return false;">
                    Open Link to Blog in Browser
                </a>

        </div>
  </ion-content>
</ion-view>


