/* Empty. Add your own CSS if you like */
.splash {
  background: url(../img/cros1art.jpeg) no-repeat center center fixed;
  -webkit-background-size: 10%;
  -moz-background-size: 10%;
  -o-background-size: 10%;
  background-size: 100% 71%;
}

.logos {
  background: url(../img/top.jpg) no-repeat bottom;
  -webkit-background-size: 10%;
  -moz-background-size: 40%;
  -o-background-size: 10%;
  background-size: 100% 10%;
}
